Deep_Learning/kaggle/classify-leaves/images/

NLP_Learning/基于Bert的中文分词语/data/data174918/dev.json
NLP_Learning/基于Bert的中文分词语/data/data174918/test.json
NLP_Learning/基于Bert的中文分词语/data/data174918/train.json
NLP_Learning/基于Bert的中文分词语/checkpoints/best.pdparams
NLP_Learning/基于Bert的中文分词语/checkpoints/final.pdparams

NLP_Learning/基于LSTM实现IMDB电影评论情感分析/dataset/dev.txt
NLP_Learning/基于LSTM实现IMDB电影评论情感分析/dataset/test.txt
NLP_Learning/基于LSTM实现IMDB电影评论情感分析/dataset/train.txt
NLP_Learning/基于LSTM实现IMDB电影评论情感分析/dataset/vocab.txt
NLP_Learning/基于LSTM实现IMDB电影评论情感分析/checkpoints/best.pdparams
NLP_Learning/基于LSTM实现IMDB电影评论情感分析/checkpoints/final.pdparams

NLP_Learning/基于BERT的情感分析/data/data175000/dev.json
NLP_Learning/基于BERT的情感分析/data/data175000/test.json
NLP_Learning/基于BERT的情感分析/data/data175000/train.json
NLP_Learning/基于BERT的情感分析/data/data175000/vocab.txt
NLP_Learning/基于BERT的情感分析/checkpoints/best.pdparams
NLP_Learning/基于BERT的情感分析/checkpoints/final.pdparams

NLP_Learning/基于BERT模型搭建评论观点抽取与分析/checkpoints/best_ext.pdparams
NLP_Learning/基于BERT模型搭建评论观点抽取与分析/checkpoints/final_ext.pdparams
NLP_Learning/基于BERT模型搭建评论观点抽取与分析/data/data178684/dev_ext.json
NLP_Learning/基于BERT模型搭建评论观点抽取与分析/data/data178684/test_ext.json
NLP_Learning/基于BERT模型搭建评论观点抽取与分析/data/data178684/train_ext.json
NLP_Learning/基于BERT模型搭建评论观点抽取与分析/data/data178685/dev_cls.json
NLP_Learning/基于BERT模型搭建评论观点抽取与分析/data/data178685/test_cls.json
NLP_Learning/基于BERT模型搭建评论观点抽取与分析/data/data178685/train_cls.json
NLP_Learning/基于BERT模型搭建评论观点抽取与分析/checkpoints/best_cls.pdparams
NLP_Learning/基于BERT模型搭建评论观点抽取与分析/checkpoints/final_cls.pdparams


NLP_Learning/outputs/checkpoint-200/adapter_config.json
NLP_Learning/outputs/checkpoint-200/adapter_model.safetensors
NLP_Learning/outputs/checkpoint-200/optimizer.pt
NLP_Learning/outputs/checkpoint-200/README.md

NLP_Learning/outputs/checkpoint-200/rng_state.pth
NLP_Learning/outputs/checkpoint-200/scaler.pt
NLP_Learning/outputs/checkpoint-200/scheduler.pt
NLP_Learning/outputs/checkpoint-200/trainer_state.json
NLP_Learning/outputs/checkpoint-200/training_args.bin
NLP_Learning/outputs/runs/Aug02_09-56-03_ricardo-Legion-Y9000P-IRX9/events.out.tfevents.1785635763.ricardo-Legion-Y9000P-IRX9.9363.0
NLP_Learning/outputs/runs/Aug02_10-03-13_ricardo-Legion-Y9000P-IRX9/events.out.tfevents.1785636193.ricardo-Legion-Y9000P-IRX9.7579.0
NLP_Learning/outputs/runs/Aug02_10-09-13_ricardo-Legion-Y9000P-IRX9/events.out.tfevents.1785636553.ricardo-Legion-Y9000P-IRX9.8504.0


agent/.env