Deep_Learning/kaggle/classify-leaves/images/

NLP_Learning/基于Bert的中文分词语/data/data174918/dev.json
NLP_Learning/基于Bert的中文分词语/data/data174918/test.json
NLP_Learning/基于Bert的中文分词语/data/data174918/train.json
NLP_Learning/基于Bert的中文分词语/checkpoints/best.pdparams
NLP_Learning/基于Bert的中文分词语/checkpoints/final.pdparams

NLP_Learning/基于LSTM实现IMDB电影评论情感分析/dataset/dev.txt
NLP_Learning/基于LSTM实现IMDB电影评论情感分析/dataset/test.txt
NLP_Learning/基于LSTM实现IMDB电影评论情感分析/dataset/train.txt
NLP_Learning/基于LSTM实现IMDB电影评论情感分析/dataset/vocab.txt
NLP_Learning/基于LSTM实现IMDB电影评论情感分析/checkpoints/best.pdparams
NLP_Learning/基于LSTM实现IMDB电影评论情感分析/checkpoints/final.pdparams

NLP_Learning/基于BERT的情感分析/data/data175000/dev.json
NLP_Learning/基于BERT的情感分析/data/data175000/test.json
NLP_Learning/基于BERT的情感分析/data/data175000/train.json
NLP_Learning/基于BERT的情感分析/data/data175000/vocab.txt
NLP_Learning/基于BERT的情感分析/checkpoints/best.pdparams
NLP_Learning/基于BERT的情感分析/checkpoints/final.pdparams

NLP_Learning/基于BERT模型搭建评论观点抽取与分析/checkpoints/best_ext.pdparams
NLP_Learning/基于BERT模型搭建评论观点抽取与分析/checkpoints/final_ext.pdparams
NLP_Learning/基于BERT模型搭建评论观点抽取与分析/data/data178684/dev_ext.json
NLP_Learning/基于BERT模型搭建评论观点抽取与分析/data/data178684/test_ext.json
NLP_Learning/基于BERT模型搭建评论观点抽取与分析/data/data178684/train_ext.json